Dashboard-Demo-Translate/Dashboard-Demo-Translate.txt
[{"id":"d29472ec.09af4","type":"ui_text_input","z":"8ed244bf.30d1e8","name":"","label":"","group":"afdd4135.4e457","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":495.50000762939453,"y":236.40009689331055,"wires":[["6dc080f3.83b2a"]]},{"id":"6dc080f3.83b2a","type":"function","z":"8ed244bf.30d1e8","name":"Prüfe auf leeren Text","func":"if (!msg.payload)\n    msg.payload=99;\nreturn msg;","outputs":1,"noerr":0,"x":734.2000198364258,"y":238.19999980926514,"wires":[["8fde8d8.ea57c7"]]},{"id":"8fde8d8.ea57c7","type":"switch","z":"8ed244bf.30d1e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"99","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":416.5001564025879,"y":372.00006675720215,"wires":[["cf716fb0.1696d"],["c1da992f.5e6d38"]]},{"id":"cf716fb0.1696d","type":"function","z":"8ed244bf.30d1e8","name":"Fehlermeldung","func":"msg.payload=\"Wert darf icht leer sein\";\nreturn msg;","outputs":1,"noerr":0,"x":653.2000198364258,"y":338.20001792907715,"wires":[["29284e07.cf95d2"]]},{"id":"29284e07.cf95d2","type":"ui_text","z":"8ed244bf.30d1e8","group":"afdd4135.4e457","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":842.3000717163086,"y":417.0000686645508,"wires":[]},{"id":"c1da992f.5e6d38","type":"function","z":"8ed244bf.30d1e8","name":"Ursprungstext setzen","func":"flow.set('toTranslate',msg.payload);\n\nmsg.payload=\"Gültiger Wert\";\nreturn msg;","outputs":1,"noerr":0,"x":560.0000610351562,"y":446.2001667022705,"wires":[["29284e07.cf95d2","c5845bc5.7ecf78"]]},{"id":"b9d92e1b.c36f7","type":"ui_dropdown","z":"8ed244bf.30d1e8","name":"","label":"","place":"Select option","group":"afdd4135.4e457","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"de","value":"de","type":"str"},{"label":"es","value":"es","type":"str"}],"payload":"","topic":"","x":217.30006790161133,"y":490.8001194000244,"wires":[["b2277873.efc6c8"]]},{"id":"d60f27b9.d82ec8","type":"watson-translator","z":"8ed244bf.30d1e8","name":"","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":"lparams","ldparamshidden2":"","x":631.300121307373,"y":678.800124168396,"wires":[["f538aabb.bfde98","638047ec.5d6458"]]},{"id":"f538aabb.bfde98","type":"debug","z":"8ed244bf.30d1e8","name":"","active":true,"console":"false","complete":"false","x":831.3000755310059,"y":634.4000241756439,"wires":[]},{"id":"c5845bc5.7ecf78","type":"function","z":"8ed244bf.30d1e8","name":"Prüfe, ob alle Werte da sind","func":"var toTranslate = flow.get('toTranslate')||0;\nvar destLang = flow.get('destLang') || 0;\nvar ok=false;\n\nif (toTranslate !==0 && destLang !==0) {\n    ok=true;\n    msg.payload=toTranslate;\n    msg.srclang=\"en\";\n    msg.destlang=destLang;\n}\nnode.error(\"2 Translate : \"+toTranslate);\nnode.error(\"Dest Lang :\"+destLang);\nnode.error(\"Status :\"+ok);\n\nflow.set('ok',ok);\nreturn msg;","outputs":1,"noerr":0,"x":530.0000419616699,"y":546.2000207901001,"wires":[["dfef7075.a324a"]]},{"id":"dfef7075.a324a","type":"switch","z":"8ed244bf.30d1e8","name":"","property":"ok","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"else"}],"checkall":"true","outputs":2,"x":774.0000686645508,"y":547.200023651123,"wires":[["d60f27b9.d82ec8"],[]]},{"id":"b2277873.efc6c8","type":"function","z":"8ed244bf.30d1e8","name":"Zielsprache setzen","func":"flow.set('destLang', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":284.0000343322754,"y":683.2000255584717,"wires":[["c5845bc5.7ecf78"]]},{"id":"1d850a42.965676","type":"ui_button","z":"8ed244bf.30d1e8","name":"","group":"afdd4135.4e457","order":0,"width":0,"height":0,"label":"Translate","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":326.3000373840332,"y":770.2000303268433,"wires":[["c5845bc5.7ecf78"]]},{"id":"638047ec.5d6458","type":"ui_text","z":"8ed244bf.30d1e8","group":"afdd4135.4e457","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":826.0000038146973,"y":782.2000112533569,"wires":[]},{"id":"39284e06.156362","type":"inject","z":"8ed244bf.30d1e8","name":"Trigger Reset ","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":194.3000030517578,"y":250.79999923706055,"wires":[["d29472ec.09af4","d55d5ee.4807da"]]},{"id":"d55d5ee.4807da","type":"function","z":"8ed244bf.30d1e8","name":"Reset","func":"flow.set('toTranslate',\"\");\nflow.set('destLang',\"\");\nmsg.payload=\"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":200.00001907348633,"y":334.20001792907715,"wires":[["b9d92e1b.c36f7","d29472ec.09af4","638047ec.5d6458"]]},{"id":"afdd4135.4e457","type":"ui_group","z":"","name":"Meine Überschrift","tab":"9e0da06d.ae773","disp":true,"width":"6"},{"id":"9e0da06d.ae773","type":"ui_tab","z":"","name":"Demo Tab","icon":"dashboard"}]