Weather/Weather.txt
[{"id":"a05531a0.ac87","type":"weather_insights","z":"deb0d57.1c46528","name":"","service":"/forecast/daily/10day.json","geocode":"48.2082,16.3738","units":"m","language":"en","x":328.00000381469727,"y":34,"wires":[["c5e50c3d.64182","42f40bad.20fff4","66b7f211.ee8f1c"]]},{"id":"aa1f82d4.396f5","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"forecast","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.59997177124023,"y":37.800004959106445,"wires":[["a05531a0.ac87"]]},{"id":"904f5d06.ae868","type":"debug","z":"deb0d57.1c46528","name":"Current Weather","active":true,"console":"false","complete":"payload","x":547.5999565124512,"y":224.0000114440918,"wires":[]},{"id":"c5e50c3d.64182","type":"debug","z":"deb0d57.1c46528","name":"heute/today","active":true,"console":"false","complete":"forecasts[0].narrative","x":538.299991607666,"y":36.19999694824219,"wires":[]},{"id":"f730517c.c8591","type":"weather_insights","z":"deb0d57.1c46528","name":"","service":"/observations.json","geocode":"48.2082,16.3738","units":"m","language":"en","x":325.29997634887695,"y":144.1999969482422,"wires":[["63b8609f.66a53"]]},{"id":"d344bcbd.a6d5b","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"observation","payloadType":"str","repeat":"","crontab":"","once":false,"x":123.29994583129883,"y":144.1999969482422,"wires":[["f730517c.c8591"]]},{"id":"42f40bad.20fff4","type":"debug","z":"deb0d57.1c46528","name":"morgen/tomorrow","active":true,"console":"false","complete":"forecasts[1].narrative","x":556.299976348877,"y":83.19999694824219,"wires":[]},{"id":"66b7f211.ee8f1c","type":"debug","z":"deb0d57.1c46528","name":"ü-morgen/the day after tom","active":true,"console":"false","complete":"forecasts[2].narrative","x":593.299976348877,"y":128.1999969482422,"wires":[]},{"id":"f56c9fe8.8ae81","type":"comment","z":"deb0d57.1c46528","name":"Cities","info":"Wien        : 48.2082,16.3738\nBrixlegg    : 47.43017860,11.87644430\nGraz        : 47.0707,15.4395\n\t","x":78.29999542236328,"y":234.40000915527344,"wires":[]},{"id":"63b8609f.66a53","type":"function","z":"deb0d57.1c46528","name":"","func":"var o=msg.observation;\nmsg.payload = {\n    \"Ort \":o.obs_name,\n    \"Temp  \":o.temp,\n    \"Gefühlte Temp \":o.wc\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":320.2999725341797,"y":228.39999771118164,"wires":[["904f5d06.ae868"]]}]