LanguageIdentification/Lang-identification.txt
[{"id":"80aaaa8.f23b358","type":"watson-language-translator-identify","z":"9b2d975c.f15468","name":"","x":468,"y":82.00000762939453,"wires":[["2415222.e8cacde"]]},{"id":"fa5b9a7e.17d678","type":"inject","z":"9b2d975c.f15468","name":"","topic":"","payload":"bu bir sinavdir","payloadType":"str","repeat":"","crontab":"","once":false,"x":138.9999542236328,"y":80,"wires":[["80aaaa8.f23b358"]]},{"id":"2415222.e8cacde","type":"debug","z":"9b2d975c.f15468","name":"","active":true,"console":"false","complete":"lang","x":678.4999694824219,"y":80.20000457763672,"wires":[]},{"id":"73fa333e.de048c","type":"inject","z":"9b2d975c.f15468","name":"","topic":"","payload":"This is my text.","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.699951171875,"y":136.4000015258789,"wires":[["80aaaa8.f23b358"]]},{"id":"5d26534c.604fec","type":"inject","z":"9b2d975c.f15468","name":"","topic":"","payload":"Das ist mein Text.","payloadType":"str","repeat":"","crontab":"","once":false,"x":147.699951171875,"y":190.4000015258789,"wires":[["80aaaa8.f23b358"]]},{"id":"3dbca6e9.49410a","type":"inject","z":"9b2d975c.f15468","name":"","topic":"","payload":" C'est mon texte","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.699951171875,"y":244.4000015258789,"wires":[["80aaaa8.f23b358"]]}]