TI-Sensor-UI/Sensor-Data-UI.txt
[{"id":"b16d3006.f2279","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"965f5281.fcc6a","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor Temp","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"30","x":669.4000053405762,"y":92.60001134872437,"wires":[]},{"id":"7f511ae0.010144","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"ws-sensor1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"*","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":72,"y":62.19999885559082,"wires":[["289bacd4.c43234","d8e58554.82a488","cdfde9a1.69d0c8","9018b31c.1a9b7"]]},{"id":"289bacd4.c43234","type":"change","z":"deb0d57.1c46528","name":"Sensor Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.objectTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":257.99999237060547,"y":34,"wires":[["b16d3006.f2279","946f414.8d0bdc"]]},{"id":"d8e58554.82a488","type":"change","z":"deb0d57.1c46528","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.light","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.90000534057617,"y":218.40000534057617,"wires":[["b32a3fde.bf47b","71adacbd.8f06a4","b8f5699d.435bb8"]]},{"id":"71adacbd.8f06a4","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"e7f46122.87ecd","order":0,"width":0,"height":0,"gtype":"gage","title":"Lux","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"1500","x":422.90005111694336,"y":304.4000301361084,"wires":[]},{"id":"b32a3fde.bf47b","type":"ui_chart","z":"deb0d57.1c46528","name":"Lux Chart","group":"e7f46122.87ecd","order":0,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data is coming ...","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":399.99999618530273,"y":353.6000061035156,"wires":[[],[]]},{"id":"cdfde9a1.69d0c8","type":"change","z":"deb0d57.1c46528","name":"Room Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.ambientTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":259.90000915527344,"y":104.4000015258789,"wires":[["192123fd.84fbdc","be8e131.535b1f","b54df017.066c7"]]},{"id":"192123fd.84fbdc","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"8bfe8c26.6fbfb","order":0,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"30","x":472.3000030517578,"y":161,"wires":[]},{"id":"d180188.8949de8","type":"ui_chart","z":"deb0d57.1c46528","name":"Humidity Chart","group":"ef0d035c.e7c62","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data is coming ...","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":417.8999900817871,"y":542.4000062942505,"wires":[[],[]]},{"id":"9660bb9.3e78348","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"ef0d035c.e7c62","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"70","x":552.8000450134277,"y":501.20003032684326,"wires":[]},{"id":"946f414.8d0bdc","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor Temp Chart","group":"965f5281.fcc6a","order":0,"width":0,"height":0,"label":"Celsius","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data is coming ...","dot":false,"ymin":"0","ymax":"70","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":686.9000053405762,"y":50.40000057220459,"wires":[[],[]]},{"id":"9018b31c.1a9b7","type":"function","z":"deb0d57.1c46528","name":"Humidity","func":"var pay = msg.payload.d.humidity;\n\nvar result=parseFloat(pay).toFixed(2);\nmsg.payload=result;\nreturn msg;","outputs":1,"noerr":0,"x":251.99999237060547,"y":457.8000297546387,"wires":[["9660bb9.3e78348","d180188.8949de8"]]},{"id":"be8e131.535b1f","type":"function","z":"deb0d57.1c46528","name":"set global","func":"global.set(\"rtemp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":454.89999771118164,"y":113.39999961853027,"wires":[[]]},{"id":"b8f5699d.435bb8","type":"function","z":"deb0d57.1c46528","name":"set global","func":"global.set(\"light\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":438.9000015258789,"y":249.40000247955322,"wires":[[]]},{"id":"b54df017.066c7","type":"ui_chart","z":"deb0d57.1c46528","name":"Room Chart","group":"8bfe8c26.6fbfb","order":0,"width":0,"height":0,"label":"Celsius","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data is coming ...","dot":false,"ymin":"19","ymax":"34","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":475.90005111694336,"y":205.4000015258789,"wires":[[],[]]},{"id":"965f5281.fcc6a","type":"ui_group","z":"","name":"Sensor Temperature","tab":"d82154dd.38cb08","disp":true,"width":"6"},{"id":"e7f46122.87ecd","type":"ui_group","z":"","name":"Light","tab":"d82154dd.38cb08","disp":true,"width":"6"},{"id":"8bfe8c26.6fbfb","type":"ui_group","z":"","name":"Room Temperature","tab":"d82154dd.38cb08","disp":true,"width":"6"},{"id":"ef0d035c.e7c62","type":"ui_group","z":"","name":"Humidity","tab":"d82154dd.38cb08","disp":true,"width":"6"},{"id":"d82154dd.38cb08","type":"ui_tab","z":"","name":"TI-Sensor","icon":"dashboard"}]