TI-Sensor-UI/TI-Sensor-Standard-Example-Flow.txt
[{"id":"772e86a2.ed8ee8","type":"ibmiot in","z":"cce97e80.a935e","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"ws-sensor1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":76.19999694824219,"y":65.39999389648438,"wires":[["f45f4894.028148"]]},{"id":"2704f549.d354ba","type":"debug","z":"cce97e80.a935e","name":"","active":true,"console":"false","complete":"false","x":872.2000274658203,"y":226.59999084472656,"wires":[]},{"id":"f45f4894.028148","type":"template","z":"cce97e80.a935e","name":"Lichtwert lesen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.d.light}}","x":260.2000274658203,"y":66,"wires":[["4c0f4101.cf8e5"]]},{"id":"4c0f4101.cf8e5","type":"switch","z":"cce97e80.a935e","name":"Prüfe Wert","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"gte","v":"10","vt":"num"}],"checkall":"true","outputs":2,"x":463.1999816894531,"y":65,"wires":[["4b195c0e.f14884"],["2f9d47e9.cf73a8","2391424e.37d1de"]]},{"id":"4b195c0e.f14884","type":"template","z":"cce97e80.a935e","name":"Zu dunkel","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Es ist zu dunkel {{payload}} !","x":672.2000122070312,"y":30,"wires":[["9a97337e.c05dd"]]},{"id":"2f9d47e9.cf73a8","type":"template","z":"cce97e80.a935e","name":"Hell","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Es ist viel zu hell {{payload}} !","x":301.1999816894531,"y":225,"wires":[["9891645b.426248"]]},{"id":"9891645b.426248","type":"watson-translator","z":"cce97e80.a935e","name":"Übersetzen","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":502.1999816894531,"y":227.20001220703125,"wires":[["2704f549.d354ba"]]},{"id":"9a97337e.c05dd","type":"debug","z":"cce97e80.a935e","name":"","active":false,"console":"false","complete":"false","x":888.9000244140625,"y":31.399993896484375,"wires":[]},{"id":"2391424e.37d1de","type":"cloudant out","z":"cce97e80.a935e","name":"2 DB","cloudant":"","database":"demodb","service":"ws-cloudantDB","payonly":false,"operation":"insert","x":671.6000061035156,"y":105,"wires":[]}]