Text2Speech/Text2Speech.txt
[{"id":"5ad7217.9feb9e","type":"watson-text-to-speech","z":"9b2d975c.f15468","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","x":389,"y":32,"wires":[["50d46ba8.d74e54"]]},{"id":"50d46ba8.d74e54","type":"change","z":"9b2d975c.f15468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":619.0000152587891,"y":36.399967193603516,"wires":[["aa1dffac.b44a1"]]},{"id":"ed7757b7.5ad5a8","type":"debug","z":"9b2d975c.f15468","name":"","active":true,"console":"false","complete":"payload","x":405.70001220703125,"y":205.0000057220459,"wires":[]},{"id":"fa371bc6.545178","type":"inject","z":"9b2d975c.f15468","name":"Mein Probetext, der auf Audio ausgegeben wird.","topic":"","payload":"Mein Probetext, der auf Audio ausgegeben wird.","payloadType":"str","repeat":"","crontab":"","once":false,"x":273.7999725341797,"y":354.60003662109375,"wires":[["c18b96a0.e58e78"]]},{"id":"c18b96a0.e58e78","type":"watson-translator","z":"9b2d975c.f15468","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":194.29998016357422,"y":124.20000267028809,"wires":[["5ad7217.9feb9e","ed7757b7.5ad5a8"]]},{"id":"cf90f1db.9c537","type":"inject","z":"9b2d975c.f15468","name":"Ich brauche einen guten Demo Text, um sprechen zu können.","topic":"","payload":"Ich brauche einen guten Demo Text, um sprechen zu können.","payloadType":"str","repeat":"","crontab":"","once":false,"x":319.29998779296875,"y":414.60003662109375,"wires":[["c18b96a0.e58e78"]]},{"id":"221babc4.b866a4","type":"inject","z":"9b2d975c.f15468","name":"Herzlichen Dank für ihre Aufmerksamkeit. Ich wünsche noch einen schönen Tag.","topic":"","payload":"Herzlichen Dank für ihre Aufmerksamkeit. Ich wünsche noch einen schönen Tag.","payloadType":"str","repeat":"","crontab":"","once":false,"x":378.7999725341797,"y":482.0000305175781,"wires":[["c18b96a0.e58e78"]]},{"id":"aa1dffac.b44a1","type":"ui_audio","z":"9b2d975c.f15468","name":"","group":"e7084cf3.ff93d","voice":"0","always":"","x":687.5000190734863,"y":133.20000505447388,"wires":[]},{"id":"a96de464.0653e8","type":"ui_button","z":"9b2d975c.f15468","name":"DO NOT DELETE","group":"e7084cf3.ff93d","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":667.1001129150391,"y":227.20000839233398,"wires":[[]]},{"id":"e7084cf3.ff93d","type":"ui_group","z":"","name":"My Demo","tab":"e4f52b36.a39b18","disp":true,"width":"6"},{"id":"e4f52b36.a39b18","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]