Enocean/Enocean.txt
[{"id":"8c7d4587.8330c8","type":"function","z":"4997a204.210ebc","name":"Extract Value","func":"msg.payload=msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":288.1000099182129,"y":61.40002155303955,"wires":[["c70bced.191443","49cc198a.e4f858","db09c72f.033208"]]},{"id":"2ec3f125.4ad55e","type":"ibmiot in","z":"4997a204.210ebc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"ws-eno-switch","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Eno - Switch","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":108.10000610351562,"y":59,"wires":[["8c7d4587.8330c8","44a462b.bb6c99c"]]},{"id":"767d8612.64f8a8","type":"ui_gauge","z":"4997a204.210ebc","name":"Switch Gauge","group":"8b05b6bc.564a08","order":0,"width":0,"height":0,"gtype":"donut","title":"Switch","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ff0000","#e6e600","#008000"],"seg1":"","seg2":"","x":612.5000648498535,"y":173.20001697540283,"wires":[]},{"id":"c70bced.191443","type":"ui_switch","z":"4997a204.210ebc","name":"Switch Slider","label":"Switch","group":"8b05b6bc.564a08","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"pressed","onvalueType":"str","onicon":"","oncolor":"","offvalue":"released","offvalueType":"str","officon":"","offcolor":"","x":604.1001167297363,"y":115.2000036239624,"wires":[[]]},{"id":"299bf8be.e8c228","type":"ibmiot in","z":"4997a204.210ebc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"ws-eno-environment-sensor","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Environment Sensor","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121.00000762939453,"y":480.0000100135803,"wires":[["c1a56448.de9038","7caf515f.14588","59631e81.6aaba"]]},{"id":"c1a56448.de9038","type":"debug","z":"4997a204.210ebc","name":"","active":true,"console":"false","complete":"false","x":501.50001525878906,"y":481.60001373291016,"wires":[]},{"id":"49cc198a.e4f858","type":"ui_text","z":"4997a204.210ebc","group":"8b05b6bc.564a08","order":0,"width":0,"height":0,"name":"Switch Text","label":"Switch Status","format":"{{msg.payload}}","layout":"row-spread","x":605.100061416626,"y":52.20001029968262,"wires":[]},{"id":"db09c72f.033208","type":"function","z":"4997a204.210ebc","name":"Convert Value","func":"if (msg.payload==\"pressed\") {\n    global.set(\"switch\", \"gedrückt\");\n    msg.payload=1;\n}\nelse {\n    msg.payload=0;\n    global.set(\"switch\", \"nicht gedrückt\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":320.00000762939453,"y":171.0000057220459,"wires":[["767d8612.64f8a8"]]},{"id":"5803866c.1b16d8","type":"ui_text","z":"4997a204.210ebc","group":"426dfc68.666a94","order":0,"width":0,"height":0,"name":"","label":"Current Humidity","format":"{{msg.payload}}","layout":"row-spread","x":737.1001167297363,"y":400.20001220703125,"wires":[]},{"id":"7caf515f.14588","type":"function","z":"4997a204.210ebc","name":"Convert Value Humidity","func":"msg.payload=msg.payload.d.data[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":370.00000762939453,"y":406.00001335144043,"wires":[["5803866c.1b16d8","7b4db76d.096f78"]]},{"id":"8418e476.1b66a8","type":"ui_text","z":"4997a204.210ebc","group":"2e4e92f1.0d47ce","order":0,"width":0,"height":0,"name":"","label":"Current Temperature","format":"{{msg.payload}}","layout":"row-spread","x":739.0000152587891,"y":340.00000953674316,"wires":[]},{"id":"59631e81.6aaba","type":"function","z":"4997a204.210ebc","name":"Convert Value Temperature","func":"msg.payload=msg.payload.d.data[1].value;\nreturn msg;","outputs":1,"noerr":0,"x":378.89994049072266,"y":337.8000011444092,"wires":[["8418e476.1b66a8","32ca85b2.17fbea"]]},{"id":"32ca85b2.17fbea","type":"ui_chart","z":"4997a204.210ebc","name":"","group":"2e4e92f1.0d47ce","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":593.1000366210938,"y":287.20001220703125,"wires":[[],[]]},{"id":"7b4db76d.096f78","type":"ui_chart","z":"4997a204.210ebc","name":"","group":"426dfc68.666a94","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":697.1000366210938,"y":445.20001220703125,"wires":[[],[]]},{"id":"44a462b.bb6c99c","type":"debug","z":"4997a204.210ebc","name":"","active":true,"console":"false","complete":"false","x":161.10000610351562,"y":258.6000061035156,"wires":[]},{"id":"4bea1327.f92d4c","type":"ibmiot in","z":"4997a204.210ebc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"ws-eno-contact-sensor","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Eno - Contact Sensor","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":126,"y":562,"wires":[["7e5a646f.7a53ec","fffdffaa.ba66a"]]},{"id":"40d740eb.65bd8","type":"ui_gauge","z":"4997a204.210ebc","name":"Switch Gauge","group":"3c43106a.fecbc","order":0,"width":0,"height":0,"gtype":"donut","title":"Contact","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ff0000","#e6e600","#008000"],"seg1":"","seg2":"","x":600.4000587463379,"y":676.2000169754028,"wires":[]},{"id":"674b0a18.1c0494","type":"ui_switch","z":"4997a204.210ebc","name":"Switch Slider","label":"Contact","group":"3c43106a.fecbc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"closed","offvalueType":"str","officon":"","offcolor":"","x":592.0001106262207,"y":618.2000036239624,"wires":[[]]},{"id":"7e5a646f.7a53ec","type":"function","z":"4997a204.210ebc","name":"Extract Value","func":"msg.payload=msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":351.00000762939453,"y":558.400016784668,"wires":[["674b0a18.1c0494","6425429d.fcbafc","e67c41f3.732ff"]]},{"id":"6425429d.fcbafc","type":"ui_text","z":"4997a204.210ebc","group":"3c43106a.fecbc","order":0,"width":0,"height":0,"name":"Switch Text","label":"Contact Status","format":"{{msg.payload}}","layout":"row-spread","x":593.0000553131104,"y":555.2000102996826,"wires":[]},{"id":"e67c41f3.732ff","type":"function","z":"4997a204.210ebc","name":"Convert Value","func":"if (msg.payload==\"closed\") {\n    msg.payload=1;\n    global.set(\"contact\",\"geschlossen\");\n}\nelse {\n    msg.payload=0;\n    global.set(\"contact\",\"geöffnet\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":307.9000015258789,"y":674.0000057220459,"wires":[["40d740eb.65bd8"]]},{"id":"fffdffaa.ba66a","type":"debug","z":"4997a204.210ebc","name":"","active":true,"console":"false","complete":"false","x":114,"y":642,"wires":[]},{"id":"8b05b6bc.564a08","type":"ui_group","z":"","name":"Enocean Switch","tab":"54c6c6.e3ea793c","order":1,"disp":true,"width":"6"},{"id":"426dfc68.666a94","type":"ui_group","z":"","name":"Environment Sensor Humidity","tab":"54c6c6.e3ea793c","order":4,"disp":true,"width":"6"},{"id":"2e4e92f1.0d47ce","type":"ui_group","z":"","name":"Environment Sensor Temperature","tab":"54c6c6.e3ea793c","order":3,"disp":true,"width":"6"},{"id":"3c43106a.fecbc","type":"ui_group","z":"","name":"Contact Sensor","tab":"54c6c6.e3ea793c","order":2,"disp":true,"width":"6"},{"id":"54c6c6.e3ea793c","type":"ui_tab","z":"","name":"Enocean","icon":"dashboard"}]