Enocean/Raspberry/raspi-enocean.txt
[{"id":"7cbdbb93.587494","type":"enocean in","z":"2c8fc519.8b55aa","gw":"51d333f7.62e27c","name":"Switch","direction":"from","statesflag":true,"devicefilter":"target","devices":["0181FAA2","002E3329","01A6F75A"],"x":91.10000610351562,"y":79.8000020980835,"wires":[["95844b50.d83e28","5d365906.0cfe68"]]},{"id":"5165ef20.8b445","type":"debug","z":"2c8fc519.8b55aa","name":"","active":true,"console":"false","complete":"false","x":774.1001205444336,"y":35.60000801086426,"wires":[]},{"id":"45cfe134.023a5","type":"wiotp out","z":"2c8fc519.8b55aa","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"960bdeae.ab109","deviceType":"","deviceId":"","event":"event","format":"json","name":"WIoT","x":830.1001224517822,"y":220.60000610351562,"wires":[]},{"id":"40ac3c4a.dc3204","type":"function","z":"2c8fc519.8b55aa","name":"Set Data","func":"var tel=msg.payload.telegram;\nvar id=tel.deviceId;\nvar fid=tel.friendlyId;\nvar time=tel.timestamp;\nvar direction=tel.direction;\nvar data=tel.functions[0];\nvar key=data.key;\nvar val=data.value;\n\nmsg.payload={\"d\":{\n    \"id\":id, \n    \"friendlyId\":fid,\n    \"timestamp\":time,\n    \"direction\":direction,\n    \"key\":key,\n    \"value\":val\n}};\nreturn msg;","outputs":1,"noerr":0,"x":588.0000190734863,"y":66.00000381469727,"wires":[["45cfe134.023a5","5165ef20.8b445"]]},{"id":"396de47c.ba119c","type":"function","z":"2c8fc519.8b55aa","name":"Contact Sensor","func":"msg.deviceType=\"D5-00-01\"; \nmsg.deviceId=\"ws-eno-contact-sensor\";\nreturn msg;","outputs":1,"noerr":0,"x":338.10001373291016,"y":81.4000301361084,"wires":[["40ac3c4a.dc3204"]]},{"id":"494016ae.a50cb8","type":"function","z":"2c8fc519.8b55aa","name":"Only B0 Button","func":"msg.deviceType=\"F6-02-01\"; \nmsg.deviceId=\"ws-eno-switch\";\nif (msg.payload.telegram.functions[0].key==\"buttonB0\")\n    flow.set(\"button\", 0);\nelse\n    flow.set(\"button\", 1);\nreturn msg;","outputs":1,"noerr":0,"x":368.0000343322754,"y":225.00003337860107,"wires":[["7da2cd43.d2bbb4"]]},{"id":"473b44af.b14e6c","type":"function","z":"2c8fc519.8b55aa","name":"Water Sensor","func":"msg.deviceType=\"F6-02-01\"; \nmsg.deviceId=\"ws-water-sensor\";\nreturn msg;","outputs":1,"noerr":0,"x":354.00000762939453,"y":156.00003147125244,"wires":[["40ac3c4a.dc3204"]]},{"id":"95844b50.d83e28","type":"switch","z":"2c8fc519.8b55aa","name":"","property":"payload.telegram.friendlyId","propertyType":"msg","rules":[{"t":"eq","v":"ws-eno-contact-sensor","vt":"str"},{"t":"eq","v":"ws-eno-water-sensor","vt":"str"},{"t":"eq","v":"ws-eno-switch","vt":"str"}],"checkall":"true","outputs":3,"x":137.10000610351562,"y":287.00000381469727,"wires":[["396de47c.ba119c"],["473b44af.b14e6c"],["494016ae.a50cb8"]]},{"id":"5d365906.0cfe68","type":"debug","z":"2c8fc519.8b55aa","name":"","active":false,"console":"false","complete":"false","x":325.50001525878906,"y":26.600062370300293,"wires":[]},{"id":"83437e2.e5a7f8","type":"enocean in","z":"2c8fc519.8b55aa","gw":"51d333f7.62e27c","name":"Environment Sensor","direction":"from","statesflag":true,"devicefilter":"target","devices":["01A92D8D"],"x":128,"y":381,"wires":[["38093447.55078c","c8955293.8e4a9"]]},{"id":"c8955293.8e4a9","type":"debug","z":"2c8fc519.8b55aa","name":"","active":true,"console":"false","complete":"false","x":402.1000671386719,"y":387.6000118255615,"wires":[]},{"id":"38093447.55078c","type":"function","z":"2c8fc519.8b55aa","name":"Environment Sensor","func":"var tel=msg.payload.telegram;\nvar id=tel.deviceId;\nvar fid=tel.friendlyId;\nvar time=tel.timestamp;\nvar direction=tel.direction;\nvar data=tel.functions;\n//var key=data.key;\n//var val=data.value;\n\nmsg.payload={\"d\":{\n    \"id\":id, \n    \"friendlyId\":fid,\n    \"timestamp\":time,\n    \"direction\":direction,\n    \"data\":data\n}};\n\n\nmsg.deviceType=\"A5-04-01\"; \nmsg.deviceId=\"ws-eno-environment-sensor\";\nreturn msg;","outputs":"1","noerr":0,"x":397.00003814697266,"y":481.00001335144043,"wires":[["c8955293.8e4a9","45cfe134.023a5"]]},{"id":"7da2cd43.d2bbb4","type":"switch","z":"2c8fc519.8b55aa","name":"Switch Button","property":"button","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":412.10011100769043,"y":325.40003395080566,"wires":[["40ac3c4a.dc3204"],[]]},{"id":"51d333f7.62e27c","type":"enocean gw","z":"","name":"enocean gw","host":"http://127.0.0.1","port":"8090"},{"id":"960bdeae.ab109","type":"wiotp-credentials","z":"","name":"Raspi-GW-Cred","org":"7roz10","devType":"ws-raspi3-gateway-type","devId":"ws-raspi3-gateway"}]